<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="margin: 2px; padding: 2px;" >
        <a href="cadastro"> Novo Usuario</a><br>
        <a href="login"> Login</a><br>
        <a href="search"> procurar</a>
        
    </div>
</body>
</html>
