<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>search</title>
</head>
<body>
    <div class="form_login">
        <h1>Buscar Usuario</h1>
        <form action="/search" method="post">

            <label for="token">Token:</label>
            <input type="text" id="token" name="token" required>
            <br><br>          

            <button type="submit">procurar</button>
        </form>
    </div>
</body>
</html>
